---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
@import "font-inter-ui";

html {
  font-family: 'Inter UI', sans-serif;
  font-size: 18px;
}

body {
  font-family: 'Inter UI', sans-serif;
  background-color: #212121;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Inter UI', sans-serif;
  color: #f4f4f4;
}

h1 {
  font-size: 2.5rem;
  font-weight: 100;

}

h2 {
  font-size: 2rem;
  font-weight: 300;
}

h3 {
  font-size: 1.75rem;
  font-weight: 300;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

a {
    text-decoration: underline;
    color: #FF8A66!important;
}
a:hover {
    text-decoration: none;
    color: #FE5722!important;
}

.greedy-nav {
  background: inherit;
}
.masthead {
  border:none;
}
.page__hero-image {
width: 50%;
margin: auto 20px;
}
