---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
@import "font-inter-ui";

html {
  font-family: 'Inter UI', sans-serif;
  font-size: 18px;
}

body {
  font-family: 'Inter UI', sans-serif;
  background-color: #212121;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Inter UI', sans-serif;
  color: #f4f4f4;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}
